<div>
  <input type="email" id="email" />Introduzca su usuario y pulse enter
  <input type="text" id="message" />Escriba su mensaje y pulse enter
</div>
<div id="history">

</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>