<div class="container-login">
  <h1>Restablecer su contraseña</h1>
  <form
    action="/api/users/forgotPassword"
    method="post"
    class="row g-3"
    id="reset-form"
  >
    <div class="col-md-6">
      <label for="email" class="form-label">Introduzca su email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        autocomplete="email"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>